h1 検索条件にあう物件があったよ
h2 発見日時: #{Time.now}
.article-panel
  - @articles.each do |article|
    h3 物件名: #{article.name}
    span
      = link_to("詳細ページを見る", article.url)
    ul
      li
        = "掲載サイト: #{article.site}"
      li
        = "家賃: #{article.rent}"
      li
        = "共益費: #{article.management_fee}"
      li
        = "敷金: #{article.deposit}"
      li
        = "間取り: #{article.layout}"
      li
        = "駅から: #{article.from_sta}"
      li
        = "住所: #{article.address}"
      li
        = "階: #{article.floor}"
      li
        = "築: #{article.build_at}"
      li
        = "その他: #{article.option}"
